body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(../Images/ep_naturalwhite.png);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.cursor-pointer {
    cursor: pointer;
}

.clicable-action {
    cursor: pointer;
}

.bg-info {
    color: #fff;
}

.pagination {
    display: unset;
    margin: unset;
}

.pagination-first-last {
    color: #fff !important;
    background-color: #595959 !important;
}

.pagination-first-last:hover {
    background-color: #373737 !important;
}

.min-default-width {
    width: unset !important;
}

.badge {
    background-color: #eaeae1 !important;
    color: #000 !important;
}