@using JanuszMarcinik.Mvc.WebUI.Areas.Application.Models.Results
@model IEnumerable<ValueViewModel>

@foreach (var answerResult in Model)
{
    <td>
        <span class="badge">
            @answerResult.Badge
        </span>
    </td>
    <td>
        <span class="@answerResult.ResultCssClass" style="font-size: 100% !important;">
            @answerResult.ResultValue
        </span>
    </td>
}