@model JanuszMarcinik.Mvc.WebUI.Areas.Admin.Models.Questions.QuestionDataSource

@{
    ViewBag.Title = Model.QuestionnaireName;
}

<h2 class="center-block">
    <span class="label label-primary center-block">@ViewBag.Title</span>
</h2>

@using (var form = Html.Bootstrap().Begin(new Form().Id("FormGrid")))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_Grid", Model)
}

@Html.ButtonsFooter(
    Html.Bootstrap().BackButton(MVC.Admin.Questionnaires.List()),
    Html.Bootstrap().AddButton(MVC.Admin.Questions.Create(Model.QuestionnaireId)))