@{
    ViewBag.Title = "Dziękuję za wypełnienie ankiety";
}

@using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
{
    using (panel.BeginHeading())
    {
        <i class="@FontAwesome.check_square_o" aria-hidden="true"></i>
        <span> Dziękuję za wypełnienie ankiety!</span>
    }

    using (panel.BeginBody())
    {
        <p style="font-size: larger; font-weight: bold;">
            Dziękuję za poświęcony czas na wypełnienie ankiety.
        </p>
    }
}