@{
    ViewBag.Title = "Dziękuję za wypełnienie ankiety";
}

<br />
@using (var panel = Html.Bootstrap().Begin(new Panel().Style(TwitterBootstrapMVC.Infrastructure.Enums.PanelStyle.Primary)))
{
    using (panel.BeginBody())
    {
        <br />
        <br />
        <br />
        <h1 class="text-center">
            <strong>Dziękuję za wypełnienie ankiety.</strong>
        </h1>
        <hr />
        <br />
        <br />
        <br />
    }
}